.weather{
    place-self: center;
    padding: 100px;
    border-radius: 10px;
    background-image: linear-gradient(0deg, rgb(27, 139, 184), blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: rgb(13, 14, 14);
    background: rgb(233, 240, 239);
    font-size: 20px;
    
}

.search-bar img{
    cursor: pointer;
}